@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* ELEMENTOS DA INTERFACE */

body {
    background-color: #f700c1;
    background-image: linear-gradient(180deg, rgb(207, 166, 166), rgb(58, 57, 57));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


header,
main,
section,
article {
    max-width: 700px;
}

header>h1 {
    color: white;
    text-shadow: 3px 3px 0px black;
}

main,
section,
article {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
}

footer {
    display: block;
    width: 100vw;
    background-color: #0feef2;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 5px;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

img {
    border-radius: 60%;
}


.btn li {

    padding-left: 100%;
}

h2,
h3,
h4 {
    color: #15d50b;
    margin: 0 0 10px 0;
}

a {
    border-radius: 10%;
    color: #15142b;
    background-color: #ffffff;
    padding: 0 3px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: .5px dotted #0feef2;
}

a:hover {
    color: #0feef2;
    border-bottom: 1px solid #0feef2;
}

/* TABELAS E LISTAS */

table {
    min-width: 400px;
    border-spacing: 0px;
    border: 0.5px solid #0feef2;
    margin: 10px auto;
}

table th {
    background-color: #0feef2;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: left;
}

table td {
    padding: 5px;
    color: #ffffff;
}

table tr {
    background-color: rgba(55, 41, 145, 0.05);
}

table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.3);
}

table.divisao {
    border: 1px solid white;
}

table.divisao td {
    background-color: rgb(43, 40, 40);
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
}

table.divisao tr:nth-child(1) td:nth-child(2) {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(2) {
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(1) {
    text-decoration: underline;
}

ul>li::marker {
    color: #0feef2;
}

/* ELEMENTOS DE FORMULÃRIO */

form {
    background-color: #0feef2;
    padding: 15px;
    border-radius: 10px;
}

form label {
    display: block;
    width: fit-content;
    font-size: 10px;
    font-weight: 100;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

input[type=text],
[type=number],
select,
input[type=date],
input[type=date],
input[type=datetime],
input[type=email],
input[type=month],
input[type=password],
input[type=range],
input[type=tel],
input[type=time],
input[type=week] {
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #140e0e;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    font-size: 1em;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #00b3d3;
}

input[type=reset] {
    width: 100%;
    background-color: #eb9903;
    font-size: 1em;
    color: rgb(187, 44, 44);
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #884d0a;
}

input[type=button],
button {
    width: 100%;
    background-color: #ada5a5;
    font-size: 1em;
    color: rgb(177, 48, 48);
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

.submit3,
button {
    width: 100%;
    background-color: #ada5a5;
    font-size: 1em;
    color: rgb(43, 43, 43);
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

input[type=button]:hover,
button:hover {
    background-color: #4d4a64;
}

fieldset {
    border: 0.5px dotted #372991;
}

fieldset>legend {
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(33, 21, 107, 0.2);
    padding: 3px 7px;
    border-radius: 5px;
}


body {
    background-image: url("nuvem.jpg");
    background-repeat: repeat;
}

input[type=radio]+label,
input[type=checkbox]+label {
    display: inline-block;
    font-size: 1em;
    background-color: rgba(223, 11, 223, 0);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

.menu {
    border-radius: 10px;
    list-style: none;
    float: left;
}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
}

.menu li a {
    border-radius: 10px;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: #f0eaea;
    color: #0feef2;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #ffffff;
    display: none;
}

.menu li:hover ul,
.menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}